/* KakaoSmallSans (본문용) */
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('./assets/fonts/KakaoSmallSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('./assets/fonts/KakaoSmallSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('./assets/fonts/KakaoSmallSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* KakaoBigSans (제목용) */
@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'KakaoBigSans';
  src: url('./assets/fonts/KakaoBigSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'KakaoSmallSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 제목용 - BigSans */
h1, h2, h3, h4, h5, h6 {
  font-family: 'KakaoBigSans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

